<div *ngIf="messageService.message">

  <h2>Messages</h2>
  <span [ngSwitch]="messageService.message.type">
  <p *ngSwitchCase="messageType.INFO" class="info">
      {{messageService.message.text}}
  </p>
  <p *ngSwitchCase="messageType.WARN" class="warn">
      {{messageService.message.text}}
  </p>
  <p *ngSwitchCase="messageType.ERROR" class="error">
      {{messageService.message.text}}
  </p>
  <p *ngSwitchDefault>
      {{messageService.message.text}}
  </p>
  </span>
  <button class="clear"
          (click)="messageService.clear()">clear</button>
</div>