<mat-sidenav-container>
  
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenav_opened">Drawer content</mat-sidenav>

  <mat-sidenav-content>
    <div fxLayout="row">
        <h1>Calendar</h1>
    </div>
    
    <div fxLayout="row">
        <div fxFlex = "10" fxLayout="column" fxLayoutAlign="center start">
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon aria-label="">arrow_forward_ios</mat-icon>
            </button>
        </div>
        
        <div fxFlex = "70" fxLayout="column" fxLayoutAlign="center center" > 
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>

        <div fxFlex = "20" fxLayout="row" fxLayoutAlign="end center">
            <button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="fetchEvents()"
              mat-raised-button color="primary">Previous</button>
    
            <button [(viewDate)]="viewDate" mwlCalendarToday mat-raised-button (viewDateChange)="fetchEvents()">Today</button>
            <button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="fetchEvents()"
              mat-raised-button color="primary">Next</button>
        </div>
    </div>

    <!-- ContextMenu de los eventos -->
    <context-menu #eventMenu>
        <ng-template contextMenuItem (execute)="editEvent($event.item)">
          Edit event
        </ng-template>
        <ng-template contextMenuItem (execute)="deleteEvent($event.item)">
          Delete event
        </ng-template>
      </context-menu>

      <!-- la template es para poder incrustar en el evento el contextMenu -->
      <ng-template
        #weekEventTemplate
        let-weekEvent="weekEvent"
        let-tooltipPlacement="tooltipPlacement"
        let-eventClicked="eventClicked">
      <div
        class="cal-event"
        [style.backgroundColor]="weekEvent.event.color?.secondary"
        [style.borderColor]="weekEvent.event.color?.primary"
        [mwlCalendarTooltip]="!tooltipDisabled ? (weekEvent.event.title | calendarEventTitle:'weekTooltip':weekEvent.event) : ''"
        [tooltipPlacement]="tooltipPlacement"
        [tooltipEvent]="weekEvent.event"
        [tooltipTemplate]="tooltipTemplate"
        [tooltipAppendToBody]="tooltipAppendToBody"
        (mwlClick)="eventClicked.emit()"
          [contextMenu]="eventMenu"
          [contextMenuSubject]="weekEvent.event">
        <mwl-calendar-event-actions
          [event]="weekEvent.event"
          [customTemplate]="eventActionsTemplate">
        </mwl-calendar-event-actions>
        <mwl-calendar-event-title
          [event]="weekEvent.event"
          [customTemplate]="eventTitleTemplate"
          view="week">
        </mwl-calendar-event-title>
      </div>
    </ng-template>

      <!-- la template es para poder crear eventos pinchando en el calendario -->
    <ng-template
      #weekViewHourSegmentTemplate
      let-segment="segment"
      let-locale="locale"
      let-segmentHeight="segmentHeight"
      let-isTimeLabel="isTimeLabel">
      <div
        #segmentElement
        class="cal-hour-segment"
        [style.height.px]="segmentHeight"
        [class.cal-hour-start]="segment.isStart"
        [class.cal-after-hour-start]="!segment.isStart"
        [ngClass]="segment.cssClass"
        (mousedown)="startDragToCreate(segment, $event, segmentElement)">
        <div class="cal-time" *ngIf="isTimeLabel">
          {{ segment.date | calendarDate:'weekViewHour':locale }}
        </div>
      </div>
    </ng-template>

    <!-- Si hay eventos se muestra el calendario, mientras no haya se muestra el mensaje de Loading -->
    <div *ngIf="events$ | async; else loading; let events">
      <mwl-calendar-week-view 
        [viewDate]="viewDate" 
        [weekStartsOn]="weekStartsOn" 
        [excludeDays]="excludeDays" 
        [events]="events"
        [dayStartHour]="dayStartHour" 
        [dayEndHour]="dayEndHour" 
        [locale]="locale" 
        [refresh]="refresh" 
        (eventClicked)="eventClicked($event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [eventTemplate]="weekEventTemplate"
        [hourSegmentTemplate]="weekViewHourSegmentTemplate">
      </mwl-calendar-week-view>
    </div>

    <ng-template #loading>
      <div class="text-center">
        <i class="fa fa-spin fa-spinner fa-5x"></i>
        <br>
        Loading events...
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>